# Global ignores for binary assets
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.svg
*.mp3
*.ogg
*.wav
*.flac
*.mp4
*.mov
*.avi
*.mkv
*.exe
*.dll
*.so
*.dylib
*.bin
*.zip
*.tar
*.gz
*.7z
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.DS_Store
